/*
main.css
=============

Author:   Tony Termine
Updated:  2014
Notes:	  tonytermine.com

*/
/* ==========================================================================
   Color Pallette
============================================================================= */
/*@black: #2d2620;
@teal: #28c3ab;
@red: #e14d43;
@orange: #d35c03;
@yellow: #eaba22;
@lightGray: #f0f0f0;
@gray: #f5f5f5;
@blue: #3185ff;
@white: #fff;*/
/* ==========================================================================
   Base Styles
============================================================================= */
body {
	width: 100%;
	height: 100%;
	font-family: "Montsarrat","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

html {
	width: 100%;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 35px;
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
}

p {
	margin: 0 0 25px;
	font-size: 18px;
	line-height: 1.5;
}

img {
	max-width: 100%;
}

a {
	color: #f0f0f0;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

a:hover,
a:focus {
	text-decoration: none;
	color: #f0f0f0;
}

.light {
	font-weight: 400;
}

.hidden {
	display: none;
}

/* ==========================================================================
   Layout Styles
============================================================================= */

/* -----------------------
   Header
-------------------------- */
.navbar {
	margin-bottom: 0;
	border-bottom: 1px solid rgba(255,255,255,.3);
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #2d2620;
}

.black-logo,
.white-logo {
	max-width: 100%;
	width: 175px;
	height: 175px;
	text-align: left;
}

.black-logo {
	display: none;
	border-radius: 50%;
}

.black-logo:hover {
	background: #f0f0f0;
	border-radius: 50%;
}

.white-logo  {
	display: block;
	height: 80px;
	margin-left: 8px;
	width: 80px;
}

.white-logo:hover {
	background: #e14d43;
	border-radius: 50%;
}

.navbar-brand:focus {
	outline: 0;
}

.navbar-custom a {
	color: #fff;
}

.navbar-custom .nav li a {
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
	font-size: 1.0em;
	text-shadow: 1px .1px #000;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active  {
	outline: 0;
	background-color: rgba(255,255,255,.2);
	color: #28c3ab;
}

.navbar-toggle {
	font-size: 16px;
	color: #28c3ab;
	margin: 24px 15px 0 0;
	padding: 0;
}

.navbar-toggle:hover {
	color: #f0f0f0;
}

.navbar-toggle:focus,
.navbar-toggle:active {
	outline: 0;
}

/* -----------------------
   Main Feature Section
-------------------------- */

.intro {
	background: url('../img/noisy-red.png') repeat top left scroll;
	color: #fff;
	display: table;
	width: 100%;
	height: 100%;
	padding: 170px 2px 25px 2px;
	text-align: center;
}

.intro-body {
	display: table-cell;
	vertical-align: middle;
}

.brand-heading1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 3.4em;
	margin: 0;
	padding: 0;
	text-align: center;
	text-shadow: 4px 2px #000;
}

.brand-heading1 span {
	font-family: "Rock Salt","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.brand-heading2 span {
	text-shadow: 4px 2px #000;
}

.brand-heading2 {
	display: block;
	font-family: 'Carrois Gothic SC', sans-serif;
	font-size: 3.8em;
	margin: 0 auto;
	padding-bottom: 20px;
	text-align: center;
}

.brand-heading1,
.brand-heading2 {
	margin-top: 50px;
}

.intro-text {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.4em;
	margin: 0 auto;
	width: 95%;
}

.brand-heading1,
.brand-heading2,
.intro-text {
	display: none;
}

.btn-default {
	background: transparent;
	border: 1px solid #f0f0f0;
	border-radius: 10px;
	color: #f0f0f0;
	font-size: 0.8em;
	font-weight: bold;
	padding: 5px 15px;
}

.btn-default:hover,
.btn-default:focus {
	border: 1px solid #f0f0f0;
	outline: 0;
	color: #e14d43;
	background-color: #f0f0f0;
}

.main-scroll {
	display: none;
	margin-top: 170px;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px 7px 14px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #e14d43;
    background: #f0f0f0;
}

.page-scroll .btn-circle i.animated,
.page-scroll .bottom-page-arrow i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated,
.page-scroll .bottom-page-arrow:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

/* -----------------------
   Body Sections
-------------------------- */
.section-header {
	background: #fff;
	display: block;
	text-align: center;
	width: 100%;
}

.section-header h2 {
	color: #222;
	font-family: 'Carrois Gothic SC', sans-serif;
	font-size: 3em;
	margin: 0;
	padding: 10%;
	text-align: center;
}

.about-section {
	background: url('../img/noisy.png');
}

.about-img {
	padding-top: 14px;
}

.about-img img {
	border-radius: 50%;
}

.about-intro {
	color: #222;
}

.about-headline {
	border-bottom: 2px solid #28c3ab;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.2em;
	font-weight: normal;
	letter-spacing: 0;
	padding: 20px 0 10px 0;
	text-transform: none;
}

.about-headline span {
	font-weight: bold;
}

.about-intro h2, p {
	text-align: center;
}

.skill-list {
	border-top: 2px solid #28c3ab;
}

.skills1,
.skills2 {
	display: block;
	font-size: 1em;
	margin: 0 auto 25px auto;
	text-align: left;
}

.about-btn {
	background: #28c3ab;
	border: 1px solid #28c3ab;
	border-radius: 5px;
	color: #f0f0f0;
	display: inline-block;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.5em;
	margin: 10px auto;
	padding: 10px 55px;
	text-align: center;
	width: 100%;
}

.about-img .btn-a {
	display: none;
}

.about-btn:hover {
	border: 1px solid #5DDBC0;
	background: #5DDBC0;
}

.text-center {
	margin-top: 80px;
}

.project-container h2 {
	border-bottom: 2px solid #28c3ab;
	color: #222;
	font-size: 1.8em;
	padding: 18px 0 10px 0;
}

.portfolio-item img {
	display: block;
	margin: 0 auto;
	width: 95%;
}

.portfolio-item p {
	color: #222;
	padding-left: 2.5%;
	text-align: left;
}

.project-link {
	border: 1px solid #28c3ab;
	color: #28c3ab;
	background-color: transparent;
	font-size: 0.7em;
	border-radius: 10px;
	padding: 5px 10px;
}

.project-link:hover {
	border: 1px solid #28c3ab;
	outline: 0;
	color: #f0f0f0;
	background-color: #28c3ab;
}

.bottom-page-arrow {
	background: url('../img/noisy-black.jpg');
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	padding: 20px;
	position: relative;
	width: 80px;
	bottom: -47px;
}

.bottom-page-arrow i {
	bottom: 18px;
	font-size: 3em;
	position: relative;
	text-align: center;
}

.bottom-page-arrow:hover {
	color: #f0f0f0;
}

/* -----------------------
   Footer
-------------------------- */
.footer-container {
	background: url('../img/noisy-black.jpg');
	padding: 10% 0 1% 0;
	margin: 0;
	width: 100%;
}

.footer-container h3 {
	display: block;
	float: left;
	font-size: 0.8em;
	margin: 3% auto 0 auto;
	text-align: center;
	width: 100%;
}

.footer-container h3 span {
	color: #28c3ab;
}

.social-icons {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.social-icons li {
	display: inline-block;
	padding: 20px;
}

.social-icons li:last-child {
	padding-right: 8px;
}

::-moz-selection {
	text-shadow: none;
	background: #fcfcfc;
	background: rgba(255,255,255,.2);
}

::selection {
	text-shadow: none;
	background: #fcfcfc;
	background: rgba(255,255,255,.2);
}

img::selection {
	background: 0 0;
}

img::-moz-selection {
	background: 0 0;
}

body {
	webkit-tap-highlight-color: rgba(255,255,255,.2);
}
/* -----------------------
  Navbar Scroll Effects
-------------------------- */

@-webkit-keyframes pulse {
	0 {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-moz-keyframes pulse {
	0 {
		-moz-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-moz-transform: scale(1.2);
		transform: scale(1.2);
	}

	100% {
		-moz-transform: scale(1);
		transform: scale(1);
	}
}

/* ==========================================================================
   Media Queries
============================================================================= */
/* ---------------------------------------
  Mid-Size Screen: Large Smartphone/Tablet
------------------------------------------ */
@media(min-width:767px) {
	p {
		margin: 0 0 35px;
		font-size: 20px;
		line-height: 1.6;
	}

	.navbar {
		padding: 20px 0;
		border-bottom: 0;
		letter-spacing: 1px;
		background: 0 0;
		-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
		-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
		transition: background .5s ease-in-out,padding .5s ease-in-out;
	}

	.top-nav-collapse {
		padding: 0;
		background-color: #2d2620;
	}

	.navbar-custom.top-nav-collapse {
		border-bottom: 1px solid rgba(255,255,255,.3);
	}

	.logo-nav-container,
	.main-intro-container {
		margin: 0 auto;
		padding: 0;
		width: 95%;
		max-width: 1100px;
	}

	.black-logo {
		display: block;
	}

	.white-logo {
		display: none;
	}

	.scroll-logo {
		display: block;
		height: 80px;
		margin-left: 8px;
		width: 80px;
	}

	.hide-logo {
		display: none;
	}

	.nav {
		padding: 20px 0 0px 0;
	}

	.nav li {
		font-size: 1.1em;
		margin-left: 40px;
	}

	.nav li:last-child {
		padding-right: 0;
	}

	.navbar-custom .nav li.active {
		border-bottom: 2px solid #28c3ab;
	}

	.brand-heading1,
	.brand-heading2 {
		font-size: 5.5em;
	}

	.intro-text {
		font-size: 1.7em;
	}

	.main-scroll {
		margin-top: 150px;
	}

	.section-header h2 {
		font-size: 3.8em;
		padding: 5% 0 2% 0;
	}

	.about-img .btn-a {
		display: inline-block;
	}

	.about-intro .about-headline {
		font-size: 1.8em;
		text-align: left;
		margin-bottom: 0;
		padding-bottom: 5px;
	}

	.skills1,
	.skills2 {
		font-size: 1.3em;
		text-align: left;
		padding: 0;
	}

	.about-intro p {
		padding-top: 5px;
		text-align: left;
	}

	.footer-container {
		padding: 5% 0 1% 0;
	}

	.footer-container h3 {
		display: block;
		padding-top: 0.9%;
		text-align: center;
	}

	.social-icons {
		display: block;
		float: right;
		text-align: center;
	}
}

/* -------------------------------
  Large Screen: Laptop/Desktop
---------------------------------- */
@media(min-width:1024px) {
	.nav li {
		font-size: 1.2em;
		margin-left: 90px;
	}

	.main-intro-container {
		max-width: 1100px;
	}

	.brand-heading1,
	.brand-heading2 {
		margin-top: 70px;
	}

	.main-scroll {
		margin-top: 220px;
	}

	.section-header h2 {
		font-size: 5.2em;
		padding-top: 7%;
	}

	.about-headline {
		font-size: 1.9em;
	}

	.about-intro .about-headline {
		font-size: 2.3em;
		text-align: left;
	}

	.about-section p {
		text-align: left;
	}

	.about-img img {
		margin-bottom: 31%;
	}

	.skills1,
	.skills2 {
		font-size: 1.5em;
	}

	.footer-container {
		display: table;
		padding: 25px 0 25px 0;
	}

	.footer-container h3 {
		display: inline-block;
		margin: 0;
		padding-top: 15px;
		text-align: left;
		width: 60%;
	}

	.social-icons {
		display: inline-block;
		text-align: right;
		width: 40%;
	}

	.social-icons li {
		padding: 0 0 0 60px;
	}
}
/* -------------------------------
  Max Width: Full-Screen
---------------------------------- */
@media(min-width:1200px) {
	.about-img img {
		margin-bottom: 10.4%;
	}

}